@import "variables";
@import "mixins";
@import "fonts";
@import "normalize";
@import "general";
@import "blocks/blocks";



.main-styles{
    background-color: #000;
    opacity: 0.1;
    overflow-y: hidden;
}
// COURSES SECTION

// for mobile
.courses {
    background-color: #110f0f;
}

.courses__wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
}
.courses__header {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
}
.courses__heading {
    margin-top: 0;
    margin-bottom: 15px;
    color: #ffffff;
    font-family: "Agrandir";
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 1px;
    text-align: center;
}
.courses__title {
    margin-top: 0;
    margin-bottom: 10px;
    color: #e7e7e799;
    font-family: "Abel";
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 2%;
    text-align: center;
}
.courses__list {
    @include list-unstyle;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
}
.courses-list__item {
    padding: 5px;
    width: 200px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #a1aebf;
    border-radius: 4px;
}
.courses-list__item:hover{
    opacity: 0.5;
}
.courses-list__link {
    display: inline-block;
    text-decoration: none;
}
.courses-list__icon{
    margin-bottom: 10px;
}
.courses-list__heading {
    margin-top: 0;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    font-family: Agrandir;
    font-size: 15px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 1px;
    text-align: left;
}
.courses-list__title {
    margin-top: 0;
    margin-bottom: 10px;
    color: #ffffff99;
    font-family: Abel;
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: 2%;
    text-align: left;
}

// for tablet
@include mobile-first(450px){
    .courses__header{
        width: 320px;
    }
    .courses-list__item{
        width: 250px;
    }
}

// for tablet
@include mobile-first(650px){
    .courses__heading{
        font-size: 35px;
        line-height: 45px;
    }
    .courses__title{
        font-size: 12px;
        line-height: 17px;
    }
    .courses__list{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }
    .courses-list__item{
        margin-right: 5px;
        margin-left: 5px;
    }
    .courses-list__heading{
        margin-bottom: 10px;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 2%;
    }
    .courses-list__title{
        line-height: 12px;
    }
}

// for desktop
@include mobile-first(992px){
    .courses__wrapper{
        padding-bottom: 80px;
    }
    .courses__header{
        padding-top: 40px;
        padding-bottom: 40px;
        width: 340px;
    }
    .courses__heading{
        font-size: 40px;
        line-height: 56px;
        letter-spacing: 0px;
    }
    .courses__title{
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 2%;
    }
    .courses__list{
        width: 860px;
    }
    .courses-list__item{
        width: 275px;
        padding: 20px;
        margin-right: 15px;
        margin-left: 0;
        margin-bottom: 25px;
    }
    .courses-list__item:nth-child(3n){
        margin-right: 0;
    }

    .courses-list__heading{
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 2%;
    }
    .courses-list__icon{
        width: 50px;
        height: 50px;
    }
}
// COURSES SECTION END


// CHOOSE SECTION START

// for mobile
.choose{
    background-color: #000000;
}
.choose__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    min-width: 280px;
    margin-left: auto;
    margin-right: auto;
}

.choose__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 250px;
}
.choose__heading {
    margin-top: 0;
    margin-bottom: 0;
    color: #ffffff;
    font-family: "Agrandir";
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: center;
}
.choose__title {
    color: #ffffff99;
    font-family: "Abel";
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 2%;
    text-align: center;
}
.choose__connect {
    display: inline-block;
    padding: 12px 24px 10px 24px;
    text-decoration: none;
    background-color: #f17d21;
    color: #110f0f;
    border-radius: 20px;
    color: #000000;
    font-family: "Agrandir";
    font-size: 12px;
    font-weight: 700;
    line-height: 10px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
}
.choose__connect:hover{
    background-color: transparent;
    color: #f17d21;
    border: 1px solid #f17d21;
}
.choose__connect:active{
    opacity: 0.7;
}

// for mobile
@include mobile-first(650px){
    .choose__wrapper{
        flex-direction: row;
        justify-content: center;
    }
    .choose__inner{
        align-items: start; 
    }
    .choose__img{
        width: 400px;
        height: 350px;
    }
    .choose__heading{
        text-align: left;
    }
    .choose__title{
        text-align: left;
    }
}
@include mobile-first(992px){
    .choose__wrapper{
        min-width: 800px;
    }
    .choose__img{
        width: 600px;
    }
    .choose__heading{
        font-size: 40px;
    }
}


// COMPANIES SECTION START
// for mobile
.companies {
    background-color: #000000;
}

.companies__wrapper {
    width: 280px;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-right: auto;
    margin-left: auto;
    overflow-x: hidden;
}
.companies__heading {
    color: #ffffff;
    font-family: "Agrandir";
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
}
.companies__title {
    color: #ffffff99;
    font-family: "Abel";
    font-size: 14px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: 2%;
    text-align: left;
}
.companies__body{
    position: relative;
    width: 100%;
    height: 150px;
    overflow-x: hidden;
}
.companies__list {
    position: absolute;
    width: 2000px;
    height: 60px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow-x: hidden;    

}
.companies__list:last-child{
    animation-name: spinder-one;
    animation-timing-function: ease-in;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    top: 70px;
}
.companies__list:first-child{
    animation-name: spinder-two;
    animation-timing-function: ease-in;
    animation-duration: 20s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}
.companies__list-item {
    padding: 10px 24px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #a1aebf;
    border-radius: 10px;
    border-spacing: 10px;

}

@keyframes spinder-one {
    0%{
        left: 0;
    }
    50%{
        left: -800px;
    }
    100%{
        left: 0;
    }
}

@keyframes spinder-two {
    0%{
        right: 0;
    }
    50%{
        right: -800px;
    }
    100%{
        right: 0;
    }
}
.companies__img {
    width: 100px;
    height: 30px;
}
@include mobile-first(650px){
    .companies__wrapper{
        padding-top: 30px;
        padding-bottom: 10px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .companies__heading{
        margin-top: 0;
        margin-bottom: 0;
    }
    .companies__title{
        display: inline-block;
        margin-left: 40px;
        padding-right: 20px;
        font-weight: 350;
        line-height: 18px;
        letter-spacing: 2%;
    }
}
@include mobile-first(992px){
    .companies__heading{
        font-size: 40px;
        line-height: 56px;
        letter-spacing: 0px;
        text-align: left;
    }

}
// COMPANIES SECTION END




// DISCUSS SECTION START
// for mobile
.discuss {
    position: relative;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #110f0f;
    background-image: url("../images/Vector.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.discuss__wrapper{
    width: 290px;
    margin-right: auto;
    margin-left: auto;
}
.discuss__wrapper::before{
    content: "";
    position: absolute;
    left: -10px;
    bottom: 0;
    display: inline-block;
    width: 200px;
    height: 130px;
    background-image: url("../images/left-down-bg.svg");
    background-repeat: no-repeat;
    background-size: 180%;
    background-position: -230px -45px;
}
.discuss__wrapper::after{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    width: 190px;
    height: 100%;
    background-image: url("../images/left-up-bg.svg");
    background-repeat: no-repeat;
    background-size: 180%;
    background-position: 15px -200px;
}
.discuss__heading {
    color: #ffffff;
    font-family: "Agrandir";
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: center;
}
.discuss__list {
    @include list-unstyle;
    display: flex;
    justify-content: center;
}
.discuss__item {
    margin-right: 20px;
}
.discuss__item:last-child {
    margin-right: 0;
}
.discuss__link {
    text-decoration: none;
}
.discuss__link:hover{
    opacity: 0.2;
}
.discuss__img {
    width: 40px;
    height: 40px;
}

// for tablet
@include mobile-first(450px){
    .discuss__wrapper{
        width: 400px;
    }
    .discuss__wrapper::before{
        background-size: 200%;
    }
    .discuss__wrapper::after{
        background-position: -10px -200px;
    }
    .discuss__img{
        width: 50px;
        height: 50px;
    }
}
@include mobile-first(650px){
    .discuss__wrapper::before{
        background-size: 220%;
    }
}
@include mobile-first(992px){
    .discuss__heading{
        font-size: 40px;
        line-height: 56px;
        letter-spacing: 0px;
    }
    .discuss__wrapper::before{
        width: 300px;
        background-position: -340px -120px;
    }
    .discuss__img{
        width: 65px;
        height: 65px;
    }
}
// CHOOSE SECTION END




// CUSTOMERS SECTION START
// for mobile
.customers {
    background-color: #0d0c0c;
}

.customers__wrapper {
    padding-top: 80px;
    padding-bottom: 100px;
}

.customers__heading {
    color: rgb(255, 255, 255);
    font-family: "Agrandir";
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
}
.customers__btn-box {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-bottom: 30px;
}
.customers__btn-left {
    padding: 20px;
    margin-right: 10px;
    border-radius: 4px;
    background-image: url("../images/btnleft.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.customers__btn-left:focus{
    opacity: 0.7;
}
.customers__btn-right:focus{
    opacity: 0.7;
}
.customers__btn-right {
    padding: 20px;
    border-right: 4px;
    background-image: url("../images/btn-right.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.customers__main {
    width: 100%;
}
.customers-list {
    @include list-unstyle;
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 200px;
    margin-right: auto;
    margin-left: auto;
    overflow-x: hidden;
}

.customers-list__item {
    position: absolute;
    width: 280px;
    padding: 10px 20px;
    margin-right: 10px;
    border: 1px solid #a1aebf;
    border-radius: 4px;
    transition: all 1s;
}

.customers-list__item:first-child{
    margin-right: 0;
}
.customers-list__link {
    text-decoration: none;
}

.customers-list__heading {
    color: #ffffff;
    font-family: "Agrandir";
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 0;
    margin-top: 0;
}
.customers-list__title {
    color: #ffffff99;
    font-family: "Agrandir";
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: left;
}
.customers-list__text {
    color: #ffffff;
    font-family: "Abel";
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    margin-top: 0;
}
.customers-list__header-wrapper{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.customers-list__item:nth-child(1) .customers-list__header-wrapper::before{
    content: "";
    display: inline-block;
    width: 45px;
    height: 45px;
    margin-right: 10px;
    border-radius: 50%;
    background-image: url("../images/mentor.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.customers-list__item:nth-child(2) .customers-list__header-wrapper::before{
    content: "";
    display: inline-block;
    width: 45px;
    height: 45px;
    margin-right: 10px;
    border-radius: 50%;
    background-image: url("../images/mentor.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.customers-list__item:nth-child(3) .customers-list__header-wrapper::before{
    content: "";
    display: inline-block;
    width: 45px;
    height: 45px;
    margin-right: 10px;
    border-radius: 50%;
    background-image: url("../images/mentor.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.customers-list__item:nth-child(4) .customers-list__header-wrapper::before{
    content: "";
    display: inline-block;
    width: 45px;
    height: 45px;
    margin-right: 10px;
    border-radius: 50%;
    background-image: url("../images/mentor.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.customers-list__item:nth-child(5) .customers-list__header-wrapper::before{
    content: "";
    display: inline-block;
    width: 45px;
    height: 45px;
    margin-right: 10px;
    border-radius: 50%;
    background-image: url("../images/mentor.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.customers-list__item:nth-child(6) .customers-list__header-wrapper::before{
    content: "";
    display: inline-block;
    width: 45px;
    height: 45px;
    margin-right: 10px;
    border-radius: 50%;
    background-image: url("../images/mentor.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.customers-list__item:nth-child(7) .customers-list__header-wrapper::before{
    content: "";
    display: inline-block;
    width: 45px;
    height: 45px;
    margin-right: 10px;
    border-radius: 50%;
    background-image: url("../images/mentor.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.customers-list__item:nth-child(8) .customers-list__header-wrapper::before{
    content: "";
    display: inline-block;
    width: 45px;
    height: 45px;
    margin-right: 10px;
    border-radius: 50%;
    background-image: url("../images/mentor.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.customers-list__item:nth-child(9) .customers-list__header-wrapper::before{
    content: "";
    display: inline-block;
    width: 45px;
    height: 45px;
    margin-right: 10px;
    border-radius: 50%;
    background-image: url("../images/mentor.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
@include mobile-first(650px){
    .customers__header{
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin-bottom: 40px;
    }
    .customers__heading{
        text-align: start;
        margin-bottom: 0;
    }
    .customers__btn-box{
        margin-bottom: 0;
    }
}
// CUSTOMERS SECTION END


// ABOUT SECTION START

// HERO SECTION START
.about-hero__wrapper {
    width: 300px;
    display: block;
    margin-left: 0;
    padding-top: 150px;
    padding-bottom: 180px;
}
.about-hero__title {
    display: inline-block;
    margin-bottom: 10px;
    color: #ffa800;
    font-family: "Agrandir";
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0px;
    text-align: left;
}
.about-hero__heading {
    margin-bottom: 10px;
    margin-top: 0;
    text-wrap: wrap;
    text-align: start;
    color: #ffffff;
    font-family: "Agrandir";
    font-size: 40px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 2px;
    text-align: left;
}
.about-hero__text {
    color: #ffffff99;
    font-family: "Abel";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 2%;
    text-align: left;
}
.about-hero__wrapper::before{
    left: -100px;
}   
@include mobile-first(650px){
    .about-hero__wrapper::before{
        left: -500px;
    }   
}
@include mobile-first(992px){
    .about-hero__wrapper::before{
        left: -500px;
    }   
    .about-hero__heading {
        font-size: 64px;
    }
}

// ABOUT-MAIN START
.about-main__wrapper {
    // padding-top: 20px;
    padding-bottom: 20px;
}
.about-main__inner{
    padding-top: 30px;
    margin-bottom: 10px;    
}
.about-main__online-courses {
    width: 300px;
    padding: 20px 10px;
    margin-right: auto;
    margin-left: auto;    
    background-color: #1b1919;
}

.online-courses__heading {
    margin-top: 0;
    margin-bottom: 10px;
    color: #ffffff;
    font-family: "Agrandir";
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;
}
.online-courses__info {
    display: flex;
    flex-direction: column;
}
.online-courses__durations {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-bottom: 20px;
    color: #ffffff;
    font-family: "Abel";
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 2%;
    text-align: left;
}
.online-courses__period, .online-courses__time, .online-courses__hours  {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #ffffff;
    font-family: "Abel";
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 2%;
    text-align: left;
}
.online-courses__durations::before{
    content: "";
    display: inline-block;
    width: 25px;
    height: 20px;
    margin-right: 5px;
    background-image: url("../images/calendar.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.online-courses__period::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 20px;
    margin-right: 5px;
    background-image: url("../images/time.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.online-courses__time::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 20px;
    margin-right: 5px;
    background-image: url("../images/clock.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.online-courses__hours::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 20px;
    margin-right: 5px;
    background-image: url("../images/duration.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.course-mentor {
    width: 300px;
    padding: 20px 10px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    background-color: #1b1919;
}
.course-mentor__header{
    display: flex;
}
.course-mentor__header::before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 35px;
    margin-right: 5px;
    background-image: url("../images/mentor.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
}
.course-mentor__heading {
    margin-top: 0;
    margin-bottom: 5px;
    color: #ffffff;
    font-family: "Agrandir";
    font-size: 20px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: left;
}
.course-mentor__title {
    margin-top: 0;
    color: #ffffff;
    font-family: "Agrandir";
    font-size: 10px;    
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: left;
}
.course-mentor__network-list {
    @include list-unstyle;
    display: flex;
    margin-bottom: 20px;
}
.course-mentor__network-item {
    margin-right: 10px;
}
.course-mentor__network-item:last-child{
    margin-right: 0;
}
.course-mentor__network-item:hover{
    opacity: 0.3;
}
.course-mentor__network-img {
    width: 25px;
    height: 25px;
}
.about-main__payment-info {
    justify-content: center
}
.payment-info {
    @include list-unstyle;
    display: flex;    
    flex-wrap: wrap;
    justify-content: flex-start;
}
.payment-info__item {
    margin: 5px;
    padding: 10px;
    border: 1px solid #a1aebf;
    border-radius: 10px;
}
.payment-info__item:hover{
    opacity: 0.4;
}
.payment-info__img {
    width: 100px;
    height: 20px;
}
.about-main__link-box{
    display: flex;
    justify-content: center;
}
.about-main__link{
    display: inline-block;
    text-decoration: none;
    padding: 13px 24px 10px 24px;
    background-color: #ffa800;
    color: #000000;
    font-family: "Agrandir";
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: uppercase;
    border-radius: 20px;
}
.about-main__link:hover{
    background-color: transparent;
    border: 1px solid #ffa800;
    color: #ffa800;
}
// for tablet
@include mobile-first(650px){
    .about-main__inner{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        justify-content: space-between;
    }
    .about-main__online-courses{
        margin-right: 10px;
        padding-left: 30px;
        width: 100%;
        height: 100%;
    }
    .online-courses__heading{
        text-align: start;
    }
    .course-mentor{
        margin-left: 10px;
        padding-left: 20px; 
        padding-right: 20px; 
        width: 100%;
    }
    .about-main__link-box{
        justify-content: flex-start;
    }
}
// for desktop
@include mobile-first(992px){
    .course-mentor{
        width: 100%;
    }
    .payment-info{
        width: 500px;
    }
}
// ABOUT-MAIN END